<h2>Chores</h2>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Tehtävä</th>
      <th>Viimeksi tehnyt</th>
      <th >Viimeksi tehty</th>
      <th>Aikaa jäljellä</th>
      <th>Pisteet</th>
      <th>Suorita</th>
    </tr>
  </thead>
  <tbody>

    <% @chores.each do |chore| %>
    <tr>
      <td><%=  chore.name %></td>
      <% if not chore.tasks.empty? %>
      <td><%= chore.tasks.last.user%></td>
      <td><%= Time.at(chore.tasks.last.created_at).utc.getlocal('+02:00').strftime("%d.%m klo %H:%M") %></td>

      <% if Time.at(chore.tasks.last.created_at)+chore.priority.hours < Time.now %>
      <td>
        Myöhässä, tee nyt!
      </td>

      <% elsif Time.now-((Time.at(chore.tasks.last.created_at)+chore.priority.hours)) > -3600 %>
      <td>
        Tee mielellään heti
      </td>
    <% else %>
      <td>
        <b><%= distance_of_time_in_words(chore.tasks.last.created_at + chore.priority.hours, Time.now, false) %>
        </b>
      </td>
      <% end %>
    <% else %>
      <td>Ei kukaan</td>
      <td>Ei koskaan</td>
      <td>Tee heti?</td>
      <% end %>

      <td>
        <% if not chore.reward.nil? %>
        <%= chore.reward %>
        <% end %>
      </td>
      <td>
        <%= 'SUORITA'%>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
