<h2>Chores</h2>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Chore</th>
      <th class="hidden-xs">Last done at</th>
      <th>Last Done By</th>
      <th class="hidden-xs">Due in</th>
      <th>Complete</th>
    </tr>
  </thead>
  <tbody>

    <% @chores.each do |chore| %>
    <tr>
      <% if chore.private %>
      <td class="chore-private">&#9734;
        <%= link_to chore.name, chore_path(chore) %></td>
    <% else %>
      <td><%= link_to chore.name, chore_path(chore) %></td>
      <% end %>
      <% if not chore.tasks.empty? %>
      <td class="hidden-xs"><%= Time.at(chore.tasks.last.created_at) %></td>
      <td><%= chore.tasks.last.user%></td>
      <% if Time.at(chore.tasks.last.created_at)+chore.priority.hours < Time.now %>
      <td class="td-late hidden-xs">
        Late! Do it now
      </td>
      <td class="btn-late">
      <% elsif Time.now-((Time.at(chore.tasks.last.created_at)+chore.priority.hours)) > -3600 %>
      <td class="td-late hidden-xs">
        You should be doing it now
      </td>
      <td class="btn-late">
    <% elseif Time.now+5.minutes > Time.at(chore.tasks.last.created_at) %>
    <td class="td-justdone hidden-xs">
      Just done
    </td>
    <td class="btn-justdone">
    <% else %>
      <td class="td-ontime hidden-xs">
        <%= distance_of_time_in_words(chore.tasks.last.created_at + chore.priority.hours, Time.now, false,:highest_measure_only => true) %>
      </td>
      <td class="btn-ontime">
      <% end %>
        <%= link_to 'Complete', completechore_path(chore), class:"btn btn-primary", method: :post%>
      </td>
    <% else %>
      <td>Nobody</td>
      <td class="hidden-xs">Never</td>
      <td class="hidden-xs">Do it now?</td>
            <td>
      <%= link_to 'Complete', completechore_path(chore), class:"btn btn-primary", method: :post%>
    </tr>
      <% end %>

    <% end %>
  </tbody>
</table>
