<h2>Chores</h2>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Chore</th>
      <th>Last done by</th>
      <th>Last done at</th>
      <th>Due in</th>
      <th>Points</th>
      <th>Complete</th>
    </tr>
  </thead>
  <tbody>

    <% @chores.each do |chore| %>
    <tr>
      <% if chore.private %>
      <td class="chore-private">&#9734; <%= link_to chore.name, chore_path(chore) %></td>
      <% else %>
      <td><%= link_to chore.name, chore_path(chore) %></td>
      <% end %>
      <% if not chore.tasks.empty? %>
      <td><%= chore.tasks.last.user%></td>
      <td><%= Time.at(chore.tasks.last.created_at).utc.getlocal('+02:00').strftime("%d.%m klo %H:%M") %></td>

      <% if Time.at(chore.tasks.last.created_at)+chore.priority.hours < Time.now %>
      <td class="td-late">
        Late! Do it now
      </td>

      <% elsif Time.now-((Time.at(chore.tasks.last.created_at)+chore.priority.hours)) > -3600 %>
      <td class="td-late">
        You should be doing it now
      </td>
    <% else %>
      <td class="td-ontime">
        <%= distance_of_time_in_words(chore.tasks.last.created_at + chore.priority.hours, Time.now, false) %>
      </td>
      <% end %>
    <% else %>
      <td>Nobody</td>
      <td>Never</td>
      <td>Do it now?</td>
      <% end %>

      <td>
        <% if not chore.reward.nil? %>
        <%= chore.reward %>
        <% end %>
      </td>
      <td>
        <%= link_to 'Complete', completechore_path(chore), class:"btn btn-primary", method: :post%>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
