<table class="table table-hover">
  <thead>
    <tr>
      <th>
        User
      </th>
      <th>
        Description
      </th>
      <th>
        Category
      </th>
      <th>
        Price
      </th>
      <th>
        Date
      </th>
      <th>

      </th>
    </tr>
  </thead>
  <tbody>
    <% purchases.each do |purchase| %>
    <tr>
      <td>
        <%= purchase.user %>
      </td>
      <td>
        <%= purchase.description %>
      </td>
      <td>
        <% if purchase.purchase_category.nil? %>
          Refund
        <% end %>
        <%= purchase.purchase_category %>
      </td>
      <td>
        <%= purchase.price %>
      </td>
      <td>
        <%= purchase.created_at %>
      </td>
      <% if current_user == purchase.user %>
      <td>
        <%= link_to 'Delete', purchase, method: :delete, data: {confirm: 'Are you sure you want to delete the purchase?'}, class:'btn btn-danger' %>
      </td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
