<h1> Purchases list </h1>
<p>
<%= label_tag 'Select gategory to show:' %>
<%= select_tag(:menu_select, options_from_collection_for_select(@categories, :id, :to_s)) %>
<%= link_to 'Show all', purchases_path %>
</p>
<script type="text/javascript">
  $('#menu_select').bind('change', function() {
    window.location.pathname = "purchase_categories/"+$(this).val()
   });
</script>

<%= will_paginate @purchases, renderer: BootstrapPagination::Rails %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>
        User
      </th>
      <th>
        Description
      </th>
      <th>
        Category
      </th>
      <th>
        Price
      </th>
      <th>
        Date
      </th>
    </tr>
  </thead>
  <tbody>
    <% @purchases.each do |purchase| %>
    <tr>
      <td>
        <%= purchase.user %>
      </td>
      <td>
        <%= purchase.description %>
      </td>
      <td>
        <% if purchase.purchase_category.nil? %>
          Refund
        <% end %>
        <%= purchase.purchase_category %>
      </td>
      <td>
        <%= purchase.price %>
      </td>
      <td>
        <%= purchase.created_at %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
