<%= bootstrap_form_for(@purchase_category) do |f| %>
<% if @purchase_category.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@purchase_category.errors.count, "error") %>
    prohibited this purchase category from being saved:</h2>

  <ul>
    <% @purchase_category.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<%= f.text_field :name %>
<%= f.submit :class => 'btn btn-success' %>

<% end %>
