<h1><%= @category.name %></h1><br/>

<table class="table">
  <tr>
    <td>
      <%= render 'category_menu', categories: @categories%>
    </td>
    <td>
        <%= will_paginate @purchases, renderer: BootstrapPagination::Rails %>
    </td>
  </tr>
</table>




</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th>
        User
      </th>
      <th>
        Description
      </th>
      <th>
        Category
      </th>
      <th>
        Price
      </th>
      <th>
        Date
      </th>
    </tr>
  </thead>
  <tbody>
    <% @purchases.each do |purchase| %>
    <tr>
      <td>
        <%= purchase.user %>
      </td>
      <td>
        <%= purchase.description %>
      </td>
      <td>
        <%= purchase.purchase_category %>
      </td>
      <td>
        <%= purchase.price %>
      </td>
      <td>
        <%= purchase.created_at %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
