<%= bootstrap_form_for(@chore) do |f| %>
  <% if @chore.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chore.errors.count, "error") %> prohibited this chore from being saved:</h2>

      <ul>
      <% @chore.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.text_field :name %>
    <%= f.number_field :priority %>
    <%= f.select "",:priorities, @priorities, :class => "select inline" %>
    <%= f.number_field :reward %>
    <p>
      (Optional) add a completion text that gets send to the Telegram channel (if set).
      Format: "username" "text of your choosing"
    </p>
    <%= f.text_field :completion_text %>
    <% if @chore.new_record? %>
    <%= f.check_box :private %>
    <% elsif current_user.id == @chore.creator_id %>
    <%= f.check_box :private %>
    <% end %>
    <%= f.submit :class => 'btn btn-success'  %>

<% end %>
