<p id="notice"><%= notice %></p>

<h1>Chores</h1>

<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Priority</th>
    </tr>
  </thead>

  <tbody>
    <% @chores.each do |chore| %>
    <tr>
      <td>
        <%= chore.name %>
      </td>
      <td>
        <%= chore.priority %>
      </td>
      <td><%= link_to 'Show', chore,class:"btn btn-primary" %></td>
      <td><%= link_to 'Edit', edit_chore_path(chore),class:"btn btn-primary" %></td>
      <td><%= link_to 'Destroy', chore, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Chore', new_chore_path, class:"btn btn-primary" %>
