<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-5 col-centered">
    <h2><%= @chore.name %></h2>

    <h3>Statistics</h3>
    <table class="table">
      <thead>
        <th>User</th>
        <th>Count</th>
      </thead>
      <tbody>
        <% @users.each do |user| %>
        <tr>
          <td>
            <%= User.find(user.first).to_s %>
          </td>
          <td>
            <%= user.last %> times
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>




  </div>
</div>
<div class="row">
  <div class="col-md-5 col-centered">
    <%= link_to 'Edit', edit_chore_path(@chore), class:"btn btn-primary"%>
    <%= link_to 'Destroy', @chore, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
    <%= link_to 'Back', chores_path, class:"btn btn-primary" %>
  </div>
</div>
